Repository phac-nml/irida, pull requests merged in 2019-11, with the labels that each got.

#520 Added redirect URL field to OAuth clients
  CHANGELOG.md
  UPGRADING.md
  doc/administrator/upgrades/images/client-update-authcode.png
  doc/administrator/upgrades/images/client-update-details-empty.png
  doc/administrator/upgrades/images/client-update-edit-page.png
  doc/administrator/upgrades/index.md
  doc/user/administrator/images/edit-client-details-update-button.png
  doc/user/administrator/images/edit-client-details.png
  doc/user/administrator/index.md
  src/main/java/ca/corefacility/bioinformatics/irida/config/security/IridaOauthSecurityConfig.java
  src/main/java/ca/corefacility/bioinformatics/irida/model/IridaClientDetails.java
  src/main/java/ca/corefacility/bioinformatics/irida/ria/web/oauth/ClientsController.java
  src/main/java/ca/corefacility/bioinformatics/irida/security/OauthRedirectResolver.java
  src/main/resources/ca/corefacility/bioinformatics/irida/database/all-changes.xml
  src/main/resources/ca/corefacility/bioinformatics/irida/database/changesets/20.01/all-changes.xml
  src/main/resources/ca/corefacility/bioinformatics/irida/database/changesets/20.01/oauth-redirect-uri.xml
  src/main/resources/ca/corefacility/bioinformatics/irida/sql/oauth-token.sql
  src/main/resources/i18n/messages.properties
  src/main/webapp/pages/clients/client_details.html
  src/main/webapp/pages/clients/create.html
  src/main/webapp/pages/clients/edit.html
  src/main/webapp/resources/js/pages/clients/client_create.js
  src/main/webapp/resources/js/pages/clients/client_edit.js
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/clients/ClientDetailsPageIT.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/clients/CreateClientPageIT.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/pages/clients/ClientDetailsPage.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/pages/clients/CreateClientPage.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/pages/remoteapi/CreateRemoteAPIPage.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/projects/ProjectSyncPageIT.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/remoteapi/CreateRemoteAPIPageIT.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/integration/utilities/RemoteApiUtilities.java
  src/test/java/ca/corefacility/bioinformatics/irida/ria/unit/web/oauth/ClientsControllerTest.java
  src/test/resources/ca/corefacility/bioinformatics/irida/ria/web/oauth/RemoteApisIT.xml
Labels: REST API

#525 Fixing OAuth2 redirect for Galaxy
  CHANGELOG.md
  UPGRADING.md
  doc/administrator/upgrades/index.md
  doc/user/administrator/index.md
  pom.xml
  src/main/java/ca/corefacility/bioinformatics/irida/config/web/IridaRestApiWebConfig.java
  src/main/java/ca/corefacility/bioinformatics/irida/repositories/remote/resttemplate/OAuthTokenRestTemplate.java
  src/main/java/ca/corefacility/bioinformatics/irida/ria/web/cart/CartController.java
  src/main/java/ca/corefacility/bioinformatics/irida/ria/web/oauth/ClientsController.java
  src/main/java/ca/corefacility/bioinformatics/irida/ria/web/oauth/GalaxyRedirectionEndpointController.java
  src/main/java/ca/corefacility/bioinformatics/irida/web/controller/api/json/PathJson.java
  src/main/resources/i18n/messages.properties
  src/main/webapp/pages/cart.html
  src/main/webapp/pages/clients/create.html
  src/main/webapp/pages/clients/edit.html
  src/main/webapp/resources/js/apis/galaxy/galaxy.js
  src/main/webapp/resources/js/components/galaxy/GalaxySubmission.jsx
Labels: REST API, galaxy

#522 Cleanup of client create and edit scripts.
  src/main/webapp/pages/clients/create.html
  src/main/webapp/pages/clients/edit.html
  src/main/webapp/pages/clients/list.html
  src/main/webapp/resources/js/client.js
  src/main/webapp/resources/js/pages/clients/client_create.js
  src/main/webapp/resources/js/pages/clients/client_edit.js
Labels: UI
